redis==2.10.5
SQLAlchemy==1.0.10
passlib==1.6.5
marshmallow==2.3.0
cryptography==1.1.1
msgpack-python==0.4.6
bcrypt==2.0.0
python-dateutil==2.4.2
python-rapidjson==0.0.6
pytz==2015.4
PyYAML==3.11
structlog==15.1.0
--allow-external PyPubSub
PyPubSub==3.3.0
http://github.com/YosaiProject/yosai_dpcache/archive/master.zip
http://github.com/YosaiProject/yosai_alchemystore/archive/master.zip
