/* background behind the logo*/
#header {
    background: #fff;
    border-color: #fff;
}
#header-wrapper {
    background: #fff;
    color: #fff;
    text-align: center;
    border-bottom: 6px solid #0464c7;
    padding: 1rem;
}

/* Background color of the menu */
#sidebar {
  background-color: #014183;
}

/* Background color of the menu, when clicked */
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
  background-color:  #044a93;
}

/* Color of all links, including arrows to get to previous and next pages */
a {
    color: #0354a8;
}
a:hover {
   color: #0354a8;
}

p{
    font-size:  20px;
}
